[submodule "plugins/fzf.kak"]
	path = plugins/fzf.kak
	url = https://github.com/andreyorst/fzf.kak
[submodule "plugins/kakoune-extra"]
	path = plugins/kakoune-extra
	url = https://github.com/lenormf/kakoune-extra.git
[submodule "plugins/kakoune-phantom-selection"]
	path = plugins/kakoune-phantom-selection
	url = https://github.com/occivink/kakoune-phantom-selection
[submodule "plugins/kakoune-snippets"]
	path = plugins/kakoune-snippets
	url = https://github.com/occivink/kakoune-snippets
[submodule "plugins/kakoune-fireplace"]
	path = plugins/kakoune-fireplace
	url = https://github.com/jjk96/kakoune-fireplace
[submodule "plugins/yank-ring.kak"]
	path = plugins/yank-ring.kak
	url = https://github.com/alexherbo2/yank-ring.kak
[submodule "plugins/select.kak"]
	path = plugins/select.kak
	url = https://github.com/alexherbo2/select.kak
[submodule "plugins/kakoune-buffers"]
	path = plugins/kakoune-buffers
	url = https://github.com/Delapouite/kakoune-buffers
[submodule "plugins/kak-tree"]
	path = plugins/kak-tree
	url = https://github.com/ul/kak-tree.git
[submodule "plugins/kakoune-cd"]
	path = plugins/kakoune-cd
	url = https://github.com/delapouite/kakoune-cd
[submodule "plugins/kakoune-mirror"]
	path = plugins/kakoune-mirror
	url = https://github.com/Delapouite/kakoune-mirror
[submodule "plugins/kakoune-sudo-write"]
	path = plugins/kakoune-sudo-write
	url = https://github.com/occivink/kakoune-sudo-write.git
[submodule "plugins/kakoune-text-objects"]
	path = plugins/kakoune-text-objects
	url = https://github.com/Delapouite/kakoune-text-objects
[submodule "plugins/split-object.kak"]
	path = plugins/split-object.kak
	url = https://github.com/alexherbo2/split-object.kak
[submodule "plugins/kakoune-snippet-collection"]
	path = plugins/kakoune-snippet-collection
	url = https://github.com/andreyorst/kakoune-snippet-collection
[submodule "plugins/phantom.kak"]
	path = plugins/phantom.kak
	url = https://github.com/alexherbo2/phantom.kak
