[submodule "plugins/fzf.kak"]
	path = plugins/fzf.kak
	url = https://github.com/andreyorst/fzf.kak
[submodule "plugins/kakoune-extra"]
	path = plugins/kakoune-extra
	url = https://github.com/lenormf/kakoune-extra.git
[submodule "plugins/kakoune-phantom-selection"]
	path = plugins/kakoune-phantom-selection
	url = https://github.com/occivink/kakoune-phantom-selection
[submodule "plugins/kakoune-snippets"]
	path = plugins/kakoune-snippets
	url = https://github.com/occivink/kakoune-snippets
[submodule "plugins/kakoune-fireplace"]
	path = plugins/kakoune-fireplace
	url = https://github.com/jjk96/kakoune-fireplace
[submodule "plugins/yank-ring.kak"]
	path = plugins/yank-ring.kak
	url = https://github.com/alexherbo2/yank-ring.kak
[submodule "plugins/select.kak"]
	path = plugins/select.kak
	url = https://github.com/alexherbo2/select.kak
[submodule "plugins/kakoune-buffers"]
	path = plugins/kakoune-buffers
	url = https://github.com/Delapouite/kakoune-buffers
[submodule "plugins/kak-tree"]
	path = plugins/kak-tree
	url = https://github.com/ul/kak-tree
[submodule "plugins/kakoune-cd"]
	path = plugins/kakoune-cd
	url = https://github.com/delapouite/kakoune-cd
[submodule "plugins/kakoune-mirror"]
	path = plugins/kakoune-mirror
	url = https://github.com/Delapouite/kakoune-mirror
[submodule "plugins/kakoune-sudo-write"]
	path = plugins/kakoune-sudo-write
	url = https://github.com/occivink/kakoune-sudo-write.git
[submodule "plugins/kakoune-text-objects"]
	path = plugins/kakoune-text-objects
	url = https://github.com/Delapouite/kakoune-text-objects
[submodule "plugins/split-object.kak"]
	path = plugins/split-object.kak
	url = https://github.com/alexherbo2/split-object.kak
[submodule "plugins/kakoune-snippet-collection"]
	path = plugins/kakoune-snippet-collection
	url = https://github.com/andreyorst/kakoune-snippet-collection
[submodule "plugins/phantom.kak"]
	path = plugins/phantom.kak
	url = https://github.com/alexherbo2/phantom.kak
[submodule "plugins/plug.kak"]
	path = plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak
[submodule "plugins/kak-ansi"]
	path = plugins/kak-ansi
	url = https://github.com/eraserhd/kak-ansi
[submodule "plugins/kakoune-emmet"]
	path = plugins/kakoune-emmet
	url = git@github.com:JJK96/kakoune-emmet.git
[submodule "plugins/kakoune-python-bridge"]
	path = plugins/kakoune-python-bridge
	url = git@github.com:JJK96/kakoune-python-bridge.git
[submodule "plugins/neptyne"]
	path = plugins/neptyne
	url = https://github.com/danr/neptyne
[submodule "plugins/kakoune-repl-bridge"]
	path = plugins/kakoune-repl-bridge
	url = git@github.com:JJK96/kakoune-repl-bridge.git
[submodule "plugins/kakoune-roguelight"]
	path = plugins/kakoune-roguelight
	url = https://github.com/occivink/kakoune-roguelight
[submodule "plugins/kakoune-dbgp"]
	path = plugins/kakoune-dbgp
	url = git@github.com:JJK96/kakoune_dbgp.git
[submodule "plugins/kakoune-gdb"]
	path = plugins/kakoune-gdb
	url = https://github.com/occivink/kakoune-gdb
[submodule "plugins/parinfer-rust"]
	path = plugins/parinfer-rust
	url = https://github.com/eraserhd/parinfer-rust
[submodule "plugins/kakoune-repl-send"]
	path = plugins/kakoune-repl-send
	url = https://github.com/jjk96/kakoune-repl-send
[submodule "plugins/kakoune-palette"]
	path = plugins/kakoune-palette
	url = https://github.com/delapouite/kakoune-palette
[submodule "plugins/kakoune-edit-or-dir"]
	path = plugins/kakoune-edit-or-dir
	url = https://github.com/TeddyDD/kakoune-edit-or-dir
[submodule "plugins/kakoune-debug"]
	path = plugins/kakoune-debug
	url = git@github.com:JJK96/kakoune-debug.git
[submodule "plugins/kakoune-rainbow"]
	path = plugins/kakoune-rainbow
	url = git@github.com:JJK96/kakoune-rainbow.git
[submodule "plugins/tagbar.kak"]
	path = plugins/tagbar.kak
	url = https://github.com/andreyorst/tagbar.kak
[submodule "plugins/kakoune-find"]
	path = plugins/kakoune-find
	url = https://github.com/occivink/kakoune-find
[submodule "plugins/kakoune-table"]
	path = plugins/kakoune-table
	url = https://gitlab.com/listentolist/kakoune-table
[submodule "plugins/connect.kak"]
	path = plugins/connect.kak
	url = https://github.com/alexherbo2/connect.kak
[submodule "plugins/prelude.kak"]
	path = plugins/prelude.kak
	url = https://github.com/alexherbo2/prelude.kak
[submodule "plugins/kakoune-kit"]
	path = plugins/kakoune-kit
	url = https://github.com/chambln/kakoune-kit
[submodule "plugins/kaktree"]
	path = plugins/kaktree
	url = git@github.com:JJK96/kaktree.git
[submodule "plugins/kak-bundle"]
	path = plugins/kak-bundle
	url = https://codeberg.org/jdugan6240/kak-bundle
[submodule "plugins/kakoune-buffer-switcher"]
	path = plugins/kakoune-buffer-switcher
	url = https://github.com/occivink/kakoune-buffer-switcher
[submodule "plugins/kak-lsp"]
	path = plugins/kak-lsp
	url = https://github.com/kak-lsp/kak-lsp
[submodule "autoload/northwave"]
	path = autoload/northwave
	url = git@github.com:JJK96/kakoune-northwave.git
[submodule "plugins/kakoune-node-bridge"]
	path = plugins/kakoune-node-bridge
	url = git@github.com:JJK96/kakoune-node-bridge
